@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar{
    width: 1px;
    background-color: darkgray;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px darkgray; 
    border-radius: 5px;
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(46, 46, 46); 
    border-radius: 5px;
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(17, 17, 17); 
}
@layer components {
    .land-header{
        @apply absolute;
        @apply top-[-100%];
        animation: lander 2s forwards;
    }

    .form-anim{
        opacity: 0;
        transform: translateY(100px);
        animation: f-anim 3s forwards;
        animation-delay: 1.6s;
    }

    .terms{
        opacity: 0;
        transform: translateY(-10px);
        animation: terms-anim 2s forwards;
        animation-delay: 3.6s;
    }

    .anim-notification{
        transform: translateY(-500px);
        animation: notify-anim 1s forwards;
        animation-delay: 4s;
    }

    @keyframes terms-anim {
        0%{
            opacity: 0;
            transform: translateY(-10px);
        }
        100%{
            opacity: 1;
            transform: translateY(0px);
        }
    }

    @keyframes notify-anim {
        0%{
            transform: translateY(-500px);
        }
        100%{
            opacity: 1;
            transform: translateY(0px);
        }
    }

    @keyframes f-anim {
        0%{
            opacity: 0;
            transform: translateY(100px);
        }
        100%{
            opacity: 1;
            transform: translateY(0px);
        }
    }

    @keyframes lander {
        0%{
            @apply top-[-100%]
        }
        100%{
            @apply top-0
        }
    }
}

.gradient{
    background: rgb(19,249,185);
    background: linear-gradient(90deg, rgba(19,249,185,1) 0%, rgba(76,0,255,1) 100%);
}